@model IEnumerable<Bd.Web.App.Models.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBlocked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XXSmallType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XSmallType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmallType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XXMediumType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XMediumType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediumType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XXLargeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XLargeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LargeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XXXType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UriKey)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBlocked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XXSmallType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XSmallType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmallType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XXMediumType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XMediumType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediumType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XXLargeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XLargeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LargeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XXXType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UriKey)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
