@model IEnumerable<Bd.Web.App.Models.PricesViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    foreach (var item in Model)
    {
        @Html.Hidden("UriKey")
    }
}


@{
    ViewData["Title"] = "Prices";
}



<h2>List of Prices</h2>

<hr />

<p>
    <a asp-action="Create">Create New</a>
</p>

<br />

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.UriKey" class="btn btn-primary">Edit</a>
            </td>
            <td>
                <a  asp-action="Details" asp-route-id="@item.UriKey" class="btn btn-primary">Details</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.UriKey" class="btn btn-primary">Delete</a>
            </td>

        </tr>
        }
    </tbody>
</table>
