@model IEnumerable<Bd.Web.App.Models.OrderViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    foreach (var item in Model)
    {
        @Html.Hidden("UriKey")
    }
}


@{
    ViewData["Title"] = "Orders";
}

<h2>List Of Orders</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UiControl)
                </td>
                @*<td>
                        <a asp-action="Edit" asp-route-id="@item.UriKey" class="btn btn-primary">Edit</a>
                    </td>*@
                <td>
                    <a asp-action="Details" asp-route-id="@item.UriKey" class="btn btn-primary">Details</a>
                </td>
                <td>
                    <a asp-action="OrderItems" asp-route-id="@item.UriKey" class="btn btn-primary">Items</a>
                </td>
                <td>
                        <a asp-action="Complete" asp-route-id="@item.UriKey" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

